In [1]:
%%capture
!pip install otter-grader

files = "https://github.com/mateuszwyszynski/python_basics/raw/main/week_8/tests.zip"
!wget -O ./tests.zip $files && unzip -o tests.zip

import otter
grader = otter.Notebook(colab = True)
!git clone https://github.com/mateuszwyszynski/python_basics.git

W poprzednim tygodniu zaczęliśmy poznawanie biblioteki pythonowej do przetwarzania danych o nazwie Pandas. Dzisiaj pokrótce przypomnimy sobie czego nauczyliśmy się podczas wspomnianych zajęć, a następnie poznamy nowe, przydatne funkcjonalności tej biblioteki. Na koniec przedstawimy wam przykładowy wzorzec do waszego własnego projektu, który powinien ułatwić wam pracę.

# Powtórka

Zacznijmy od wczytania omawianej biblioteki, a następnie stwórzmy przykładowy dataframe. Sposób w jaki można to zrobić został omówiony na poprzednich zajęciach, możecie prześledzić to również poniżej. Przypomnijmy, że do konkretnej kolumny możemy się odwołać poprzez polecenie `df['nazwa_kolumny']`.

In [3]:
import pandas as pd

In [ ]:
# tworze jedna kolumne
kolumna = pd.Series([1,2,3,4,5,6,7,8,9,10])

# tworze kolejne kolumny
kolumna1 = kolumna + 10
kolumna2 = kolumna - 10
kolumna3 = kolumna * 10
kolumna4 = kolumna / 10
kolumna5 = kolumna ** 10

# tworze puste kolumny z nazwami 
df = pd.DataFrame(columns = ['kolumna', 'kolumna1', 'kolumna2', 'kolumna3', 'kolumna4', 'kolumna5'])

# uzupelniam kolumny danymi
df['kolumna'] = kolumna
df['kolumna1'] = kolumna1
df['kolumna2'] = kolumna2
df['kolumna3'] = kolumna3
df['kolumna4'] = kolumna4
df['kolumna5'] = kolumna5
df

Na kolumnach możemy również wykonywać operacje osobno po kolejnych elementach. Przykładowo kolumna `[1,2,3]` dodana do kolumny `[4,5,6]` zwróci nam wynik `[5,7,9]`, ponieważ `[5,7,9] = [1+4, 2+5, 3+6]`.

In [ ]:
print('kolumna1:\n', df['kolumna1'])
print()
print('kolumna2:\n', df['kolumna2'])
print()
print('Ich suma:\n', df['kolumna1'] + df['kolumna2'])

## Zadanie1

Napisz funkcję, która za argumenty przyjmuje kolejno dataframe i nazwy dwóch kolumn (obecnych w tym dataframie), a zwraca iloczyn tych kolumn po konkretnych elementach. Przykładowo `[1,2,3]*[4,5,6]` zwróci nam wynik `[4,10,18]`, ponieważ `[4,10,18] = [1*4, 2*5, 3*6]`.

In [ ]:
def iloczyn_kolumn(dataframe, nazwa_kolumny1, nazwa_kolumny2):
    ...

In [ ]:
grader.check("Q1")

# Coś nowego

Możemy również odwołać się do konkretnej kolumny dataframu poprzez `df['nazwa_kolumny']` i policzyć na niej interesujące nas statystyki. Jednym ze sposobów jest dołączenie na końcu `.nazwametody()` Przykładowo `df['nazwa_kolumny'].sum()` zwróci nam sumę wartości w kolumnie `nazwa_kolumny`. Taki sam efekt osiągniemy poprzez polecenie `pd.sum(df['nazwa_kolumny'])`.

## Zadanie2

Napisz funkcję, która za argumenty przyjmuje kolejno dataframe i nazwę kolumny (obecną w tym dataframie), a zwraca dwukrotność średniej arytmetycznej wartości w danej kolumnie. Do wykonania tego zadania nie musisz używać pętli.

In [ ]:
def podwojna_srednia_kolumny(dataframe, nazwa_kolumny):
    srednia = ...
    ...

In [ ]:
grader.check("Q2")

Kolejną przydatną umiejętnością jest wyciąganie (czy też wycinanie) konkretnych części naszego dataframu. W tym celu używamy `df.iloc[wiersz_start:wiersz_stop, kolumna_start:kolumna_stop]`, gdzie `wiersz_start` oznacza numer wiersza, od którego chcemy wycinać nasze dane, a `wiersz_stop` oznacza numer wiersza, do którego chcemy to zrobić. Warto zauważyć, że wiersz pod numerem `wiersz_start` będzie się zawierał w naszym wycinku, natomiast `wiersz_stop` już nie (podobnie sytuacja wyglądała w przypadku `range`). Sytuacja dla kolumn wygląda analogicznie. Przykładowo, `df.iloc[2:4, 0:4]` spowoduje wycięcie z dataframu `df` wierszów o numerach 2 i 3, natomiast kolumn o numerach 0, 1, 2 i 3 (pamiętajmy, że liczyć zaczynamy od 0). W naszym przypadku będą to: `kolumna`, `kolumna1`, `kolumna2` oraz `kolumna3`.

In [ ]:
df.iloc[2:4, 0:4]

Gdybyśmy chcieli wyciąć tylko konkretne wiersze (ze wszystkimi kolumnami), część `kolumna_start:kolumna_stop` zostawiamy jako `:`.

In [ ]:
df.iloc[2:4, :]

Analogicznie postępujemy, gdybyśmy byli zainteresowani pozostawieniem wszystkich wierzy i wycięciem tylko konkretnych kolumn.

In [ ]:
df.iloc[:, 0:4]

Zauważmy, że gdybyśmy chcieli wyciąć z naszego dataframu wszystkie kolumny od początku do kolumny o danym numerze, możemy pominąć `kolumna_start` i zapisać tę część jako `:kolumna_stop`.

In [ ]:
df.iloc[:, :4]

Podobnie wygląda sytuacja, gdybyśmy potrzebowali wyciąć kolumny od danego numeru do końca. Z wierszami można postępować w taki sam sposób. Poniższy kod wytnie nam dataframe od wiersza o numerze 5 do końca oraz od `kolumna2` do końca.

In [ ]:
df.iloc[5:, 2:]

W celu wybrania konkretnego wiersza lub kolumny, ustawiamy daną część wycinania na pojedynczy indeks. Przykładowo `df.iloc[2, 3:5]` zwróci nam wiersz o numerze dwa w kolumnach o numerach 3 i 4. W przypadku wycinania jednego wiersza/kolumny zmieni się typ naszego obiektu, ale nie musimy się tym teraz przejmować.

In [ ]:
df.iloc[2, 3:5]

Zastanów się, w jaki sposób używająć `.iloc` można wybrać tylko jedną komórkę.

## Zadanie3

In [ ]:
df

Napisz funkcję, która jako argumenty przyjmuje kolejno: dataframe, numer wiersza pierwszego elementu, numer kolumny pierwszego elementu, numer wiersza drugiego elementu, numer kolumny drugiego elementu. Funkcja ta powinna zwrócić wynik mnożenia pierwszego i drugiego elementu. Przykładowo `mnozenie_po_indeksach(df, 3, 2, 6, 0)` powinno zwrócić $-6\cdot7 = -42$. Porównaj obliczenia z tabelką powyżej.

In [ ]:
def mnozenie_po_indeksach(dataframe, nr_wiersza1, nr_kolumny1, nr_wiersza2, nr_kolumny2):
    ...

In [ ]:
grader.check("Q3")

# Wzorzec waszego projektu

W tym miejscu przedstawimy wam przykładowy wzorzec dla waszego projektu - oczywiście możecie go dowolonie modyfikować, dodawać, zmieniać i usuwać z niego rzeczy. W zeszłym tygodniu pracowaliśmy na zbiorze danych, który miał określony format - w pierwszym wierszu były nazwy kolumn, pierwsza z nich zawierała nazwy państw, natomiast kolejne różne zmienne opisujące te państwa (przykład w excelu poniżej). Co ważne (!) w przygotowanym poniżej wzorcu będziemy zakładać, że również Wy będziecie mieli przygotowane dane w takim formacie.

![](https://drive.google.com/uc?export=view&id=1-bCoYfuOJfqavbZg99DoqLMQmqc6MOvB)

Warto zaznaczyć, że używając swoich danych będziecie mogli natknąć się na problemy, które nie zostaną tu omówione. W takim przypadku również nie wahajcie pytać się o to prowadzących.

Na początku musicie wczytać swój plik excel. W tym celu kliknijcie ikonę folderu w pasku po lewej stronie i wczytajcie lub przeciągnijcie tam swój plik, a następnie wczytajcie swoje dane wykonując kod poniżej.

In [4]:
moj_df = pd.read_excel('python_basics/data/dane_kraje.xlsx') # zmien nazwe pliku na swoja! wystarczy jedynie pd.read_excel('nazwapliku.xlsx')

Zobaczmy teraz swoje dane.

In [5]:
moj_df

,Country,Intelligence quontient,Expected years of schooling,Developing?,Average temperature,GDP (PPP) per capita,Fertility rate per woman,PPPwzg
0,Afghanistan,75.0,10.0,Developing,12.60,1538.807,6.37,0.012098
1,Albania,82.0,14.7,Developing,11.40,9383.479,1.64,0.073772
2,Algeria,82.4,14.3,Developing,22.50,12664.666,2.72,0.099568
3,Andorra,97.0,13.5,Developing,7.60,50300.000,1.27,0.395454
4,Angola,71.0,9.9,Developing,21.55,6323.302,6.35,0.049713
...,...,...,...,...,...,...,...,...
197,Venezuela,83.5,14.2,Developing,25.35,16492.576,2.55,0.129663
198,Vietnam,94.0,12.6,Developing,24.45,4394.462,1.93,0.034549
199,Yemen,80.5,9.0,Developing,23.85,4244.872,5.00,0.033373
200,Zambia,74.0,12.5,Developing,21.40,3196.641,5.60,0.025132
201,Zimbabwe,72.1,10.3,Developing,21.00,1943.276,4.00,0.015278

Innym ważnym aspektem pracy na wczytywanych danych jest możliwość poznania nazw każdej z kolumn. Jest to niezbędne do prawidłowego wywoływania poszczególnych wartości z naszej tablicy. Tu z pomocą przychodzi nam zmienna wywoływana przy pomocy `.columns`, która to wyświetla nazwy kolumn zaczynając od lewej strony naszej tablicy, aż do jej końca. Zobaczmy nazwy kolumn w naszych danych.

In [6]:
moj_df.columns

Index(['Country', 'Intelligence quontient', 'Expected years of schooling',
       'Developing?', 'Average temperature', 'GDP (PPP) per capita',
       'Fertility rate per woman', 'PPPwzg'],
      dtype='object')

Następnie wartościową informacją jest rozmiar(wymiar) naszej tablicy. Warto wiedzieć ile wierszy i kolumn posiada nasz `DataFrame`. Możemy się tego dowiedzieć przy pomocy atrybutu `.shape`, która zwraca nam `(liczba_wierszy, liczba_kolumn)`. W łatwy sposób jesteśmy w stanie rozdzielić te dwie informacje. Możecie tutaj zobaczyć liczbę wierszy oraz liczbę kolumn w waszych danych.

In [7]:
liczba_wierszy = moj_df.shape[0] 
liczba_kolumn = moj_df.shape[1]

print('liczba wierszy: ', liczba_wierszy,', liczba kolumn: ', liczba_kolumn)

liczba wierszy:  202 , liczba kolumn:  8

---
Zanim jeszcze rozpoczniemy pracę nad naszymi danymi warto wiedzieć z czym przyjdzie nam się zmagać. Warto w tym celu użyć funkcji `.dtypes`, która poda jakie typy zmiennych znajdują się w każdej z kolumn.

In [8]:
moj_df.dtypes

Country                         object
Intelligence quontient         float64
Expected years of schooling    float64
Developing?                     object
Average temperature            float64
GDP (PPP) per capita           float64
Fertility rate per woman       float64
PPPwzg                         float64
dtype: object

Widzimy, że typ niektórych zmiennych to `object`, a niektórych to `float64`. W pierwszym przypadku oznacza to, że wartości są tam przechowywane najprawdopodobniej w formacie napisu (`str` lub podobne, nie wchodzimy tutaj w szczegóły). Drugi przypadek natomiast oznacza, że zmienne w takiej kolumnie są przechowywane jako liczby rzeczywiste. W ramach przypomnienia możecie odwołać się do komórki poniżej.

![](https://drive.google.com/uc?export=view&id=1Vx495G47Q3khoBA2XIZV-Z-jeUIi9OOl)

Może się zdażyć, że kolumna, która powinna zawierać liczby zostanie wczytana w typie `object`. Problem może się brać np. z tego, że wartości w tych kolumnach zostały wczytane jako napisy już w Excelu.

Taka sytuacja jest niepożada, ponieważ na takich kolumnach możemy mieć z problem z wykonywaniem operacji arytmetycznych, dlatego pokażemy teraz, jak zamienić te kolumny na typ, jaki uważamy za stosowny, w tym przypadku będzie to `float64`, który reprezentuje liczby rzeczywiste.

In [ ]:
moj_df['nazwa_kolumny'] = moj_df['nazwa_kolumny'].astype('float64') # zastap 'nazwa_kolumny' wybrana przez siebie kolumna

Czasami bywa tak, że w danych nad którymi obecnie pracujesz pojawiają się `NaN, NA, #N/A`, które należy utożsamiać z `Not a Number` lub `Not Available`. Oznacza to, że w naszych danych dla danego kraju z jakiegoś powodu nie mamy wartości danego wskaźnika (np. nie został on zmierzony albo widzimy, że przy przepisywaniu został zmierzony źle - ktoś mógł chociażby w złym miejscu wstawić przecinek). Może to powodować niepoprawne działanie twojego kodu jeśli nie jesteś przygotowany na uwzględnienie tego w swoich danych.

Biblioteka Pandas jest gotowa na znajdowanie takich obiektów oraz na różnego typu działania z nimi związanymi. Najpierw postarajmy się znaleźć wszystkie wystąpienia `NaN` w naszym `DataFrame`. Można to zrobić przy pomocy funkcji `.isna()`, którą należy rozbudować o `.any(axis=1)`, żeby znaleźć wszystkie wystąpienia w tablicy.

In [ ]:
moj_df[moj_df.isna().any(axis=1)]

Teraz musicie zobaczyć czy w waszych danych znajdują się omawiane wartości (`NA`, `NaN`). Jeśli tak, to najłatwiejszym sposobem będzie usunięcie wszystkich wierszów z taką wartością, w tym celu użyjemy `.dropna()`. Alternatywnym rozwiązaniem jest zamiana wszystkich `NaN` na np. 0, co można wykonać przy pomocy funkcji `.fillna(0)`. Sprawdźmy teraz jak to działa:

In [ ]:
moj_df = moj_df.dropna() # uzyj tej linijki, jesli chcesz wyrzucic panstwa, w ktorych wystepuja NA
moj_df = moj_df.fillna(0) # lub tej, jesli chcesz je zamienic na 0

Nie musisz używać tych linijek, jeśli w Twoich danych nie występują takie wartości.

W naszych plikach możemy również mieć zmienne binarne - to takie zmienne, które przyjmują tylko 2 wartości. Przy pomocy funkcji `.unqiue()` możemy sprawdzić, jakie wartości przyjmuje taka kolumna. Jeśli masz taką kolumnę, możesz wykonać poniższy fragment kodu, w przeciwnym przypadku możesz go pominąć.

In [ ]:
moj_df['nazwa_kolumny'].unique() # zastap 'nazwa_kolumny' wybrana przez siebie kolumna

Wartości w naszej kolumnie mogą być różne, jeżeli będą to np. napisy to wtedy warto zwrócić uwagę, że komputery operują na liczbach, dlatego chcielibyśmy zamienić te napisy na liczby. Najczęściej wykonywaną operacją jest zamiana odpowiednich napisów na 0 i 1.

In [ ]:
# zastap 'nazwa_kolumny' wybrana przez siebie kolumna, natomiast 'napis1' oraz 'napis2' obecnymi napisami w swojej kolumnie (przed modyfikacja)
moj_df['nazwa_kolumny'][moj_df['nazwa_kolumny'] == 'napis1'] = 0
moj_df['nazwa_kolumny'][moj_df['nazwa_kolumny'] == 'napis2'] = 1
moj_df['nazwa_kolumny'] = moj_df['nazwa_kolumny'].astype('int') # zmiana typu na calkowitoliczbowy

Teraz możemy sprawdzić, że jedyne wartości w omawianej kolumnie to 0 i 1.

In [ ]:
moj_df['nazwa_kolumny'].unique()

---
Przy próbie analizy naszych danym nieodzownym narzędziem wydaje się zastosowanie funkcji `.describe()`, która to zwraca nam: ilość pozycji w kolumnie (count), średnią wartość w kolumnie (mean), odchylenie standardowe w kolumnie (std), wartość minimalną w kolumnie (min), 25/50/75 percentyl w kolumnie (25/50/75 %) oraz wartość maksymalną w kolumnie (max). Sprawdźmy to na waszej tablicy.

In [ ]:
moj_df.describe()

Jak możesz zauważyć statystyki zostały wypisane tylko dla tych kolumn w których znajdują się tylko 'liczby' (nie ma tu kolumny `Country`).

---
Przypomnijmy sobie, jak wyglądają wasze dane.

In [ ]:
moj_df

Może się zdarzyć tak, że różne zmienne będą miały różne rzędy wielkości. Przy dalszym wnioskowaniu może to skutkować niepożądanymi zachowaniami (np. jedna zmienna może zdominować wszystkie pozostałe). Dlatego częstą praktyką w takim przypadku jest normalizacja zmiennych. Taką czynność można wykonać na wiele sposobów, tutaj pokażemy wam jeden z nich, którym jest proste skalowanie - każdą kolumnę przekształcimy w taki sposób, aby największa wartość wynosiła 1, a najmniejsza 0. W ten sposób wszystkie wartości znajdą się w przedziale $[0,1]$. Normalizację wykonujemy osobno dla każdej kolumny. Jeśli w Twoich danych znajduje się zmienna binarna to nie ma sensu jej normalizować - w niej już występują tylko 0 i 1.

Wzorek, za pomocą którego możemy znormalizować daną kolumnę wygląda następująco:
$z_i = \frac{x_i - min(x)}{max(x)-min(x)}$, gdzie $min(x)$ oraz $max(x)$ to odpowiednio najmniejsze i największe wartości w danej kolumnie, $x_i$ to $i$-ta obserwacja przed znormalizowaniem, a $z_i$ to znormalizowana $i$-ta obserwacja. Została do tego przygotowana funckja, którą możecie zobaczyć poniżej. Ułatwieniem może być stworzenie do tego nowego dataframu (będzie to bardziej przejrzyste).

In [ ]:
def normalize(df_col):
    return (df_col-df_col.min())/(df_col.max()-df_col.min())

In [ ]:
moj_df_norm = moj_df.copy()
moj_df_norm['nazwa_kolumny'] = normalize(moj_df['nazwa_kolumny']) # zastap 'nazwa_kolumny' kolumna w Twoim dataframie, a nastepnie powtorz to dla pozostalych kolumn
...

In [ ]:
moj_df_norm # znormalizowane

Jeśli spojrzycie na statystyki opisujące wasze dane to zobaczycie, że w każdej kolumnie minimalna wartość powinna równać się 0, a maksymalna 1.

In [ ]:
moj_df_norm.describe()

Teraz przypomnimy sobie, w jaki sposób można uszeregować państwa - policzyć pewne wskaźniki, wg. których można porównać ze sobą państwa. Jednym z takich wskaźników może być średnia ważona: $\bar{x} = \frac{w_1x_1 + w_2x_2 + \dots + w_nx_n}{w_1+w_2+\dots w_n}$, gdzie $w_1, w_2, \dots, w_n$ to nieujemne wagi, natomiast $x_1, x_2, \dots, x_n$ to wartości w kolejnych kolumnach (których jest $n$, w naszym przykładzie $n=7$, gdyż pierwsza kolumna to nazwy krajów). Taką średnią liczymy oddzielnie dla każdego kraju.

In [ ]:
liczba_kolumn = moj_df_norm.shape[1] # zapiszmy liczbe interesujacych nas kolumn
moj_df_norm_do_liczenia = moj_df_norm.drop('Country', axis=1) # zapiszmy tu kolumny, na ktorych bedziemy liczyc srednia (czyli bez nazw krajow)

In [ ]:
def srednia_wazona(dataframe_do_liczenia, wagi):
    licznik = (dataframe_do_liczenia*wagi).sum(axis=1)
    mianownik = sum(wagi)
    return licznik/mianownik

Twoim zadaniem jest ustalenie odpowiednich wag dla swoich zmiennych. Ich liczba powinna być równa liczbie zmiennych opisująch państwa. Wtedy taką średnią możesz policzyć w następujący sposób:

In [ ]:
moje_wagi = [...] # wagi mozemy zapisac wewnatrz nawiasow kwadratowych - tworzymy w ten sposob liste, o której dowiecie się więcej w dalszej czesci kursu

W ten sposób dostaliście nową kolumnę `srednia_wazona`, co możecie zobaczyć poniżej.

In [ ]:
moj_df_norm['srednia_wazona'] = srednia_wazona(moj_df_norm_do_liczenia, moje_wagi)
moj_df_norm

Aby zobaczyć uszeregowane państwa od najwyższej wartości tej średniej użyjemy funkcji `.sort_values()`, która jako argument przyjmuje nazwę kolumny, względem której chcemy posortować nasz dataframe, z dodatkową flagą `ascending=False`, dzięki której dostaniemy wyniki uszeregowane malejąco.

In [ ]:
moj_df_norm_uszeregowane = moj_df_norm.sort_values('srednia_wazona', ascending=False)
moj_df_norm_uszeregowane

Na tej podstawie możesz wnioskować o tym, które kraje wg. wybranych przez Ciebie składowych są uszeregowane wyżej, a które niżej.

Gdybyście teraz chcieli zobaczyć tylko pierwsze 3 (lub dowolną inną liczbę) kraje uszeregowane wg wybranej przez siebie średniej ważonej, możecie użyć poznanej dzisiaj funkcji `.iloc()`.

In [ ]:
moj_df_norm_uszeregowane.iloc[:3, :] # pierwsze 3 wiersze, wszystkie kolumny

Do zapisania swojego dataframu możecie użyć następującej funkcji

In [ ]:
moj_df_norm.to_excel('moj_dataframe_norm.xlsx') # 'moj_dataframe_norm.xlsx' mozecie podmienic na dowolna inna nazwe, ktora chcecie nazwac swoj plik formatu excel